* {
  margin: 0;
  padding: 0;
}
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Estilos de la galería */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  display: block;
}
